.button {
  width: fit-content;
  padding: 0.4rem 1rem;
  background: linear-gradient(
    to right,
    rgba(219, 64, 68, 0.9),
    rgba(236, 104, 81, 0.9)
  );
  border-radius: 2rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0s;
  font-size: 16px;
  white-space: pre-wrap;
  outline: 0;
  border: none;
}
.button_border {
  border: 2px solid rgba(236, 104, 81, 0.9);
}
.button::before {
  content: "\276F";
  margin-right: 0.5rem;
}
.button:hover {
  background: white;
  color: #000000;
}
.button:hover::before {
  color: var(--color-orange-1);
}
