.wrapper {
  width: 100% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.wrapper:hover {
  opacity: 0.5;
}
.image_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .6rem;
}
.image {
  width: 50%;
  aspect-ratio: 1;
  object-fit: contain;
}
.title {
  font-size: medium;
  text-align: center;
}
@media screen and (max-width:1024px){
  .image_container{
    display: none;
  }
  .title{
    text-align: left;
  }
}