.hero_text_container {
  width: fit-content;
  position: absolute;
  bottom: 60%;
  left: 56%;
  transform: translate(-50%, 50%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
.hero_text_container > * {
  margin: 0.4rem 0rem;
}
.main_hero_wrapper {
  max-width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0px -10px 30px 10px black;
}
.player_wrapper {
  min-height: 30vh;
}
.background_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.player {
  width: 100%;
  transform: scale(1);
}
.timingContainer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 1000;
  top: 0;
  transform: translateY(-50%);
}
.timing_text {
  width: 50%;
}
.timing_secondary {
  width: 12.5%;
  display: flex;
  position: relative;
}
.dontmiss_container {
  background: url(../../../public/assets/images/home-dontmiss-bg.jpg) no-repeat
    0 0;
  background-size: cover;
  padding: 3rem 0;
}
.thumnail_container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 2rem;
}
.thumnail {
  width: 30%;
}
.youare_container {
  margin-bottom: 3rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}
@media screen and (min-width: 1441px) {
  .player {
    transform-origin: right;
    height: 100%;
    width: 100vw;
    object-fit: cover;
  }
  .main_hero_wrapper {
    height: fit-content;
  }
  .timingContainer {
    top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .player,.background_cover {
    transform: scale(1.1);
    transform-origin: right;
    height: 100%;
    object-fit: cover;
  }
  .main_hero_wrapper {
    height: 50%;
  }
  .timingContainer {
    top: 0;
    transform: translateY(-50%);
  }
  .thumnail_container {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .thumnail {
    width: 90%;
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .hero_text_container {
    bottom: 60%;
    left: 50%;
    transform: translate(0px, 0px);
    padding: 0.5rem;
  }
  .hero_text_container > * {
    margin: 0.2rem 0rem;
  }

  .player,.background_cover {
    transform-origin: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .main_hero_wrapper {
    height: 70vh;
  }
  .timingContainer {
    flex-direction: column;
    top: 0%;
    transform: translateY(-10%);
  }
  .timingContainer > * {
    width: 100%;
  }
  .youare_container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .hero_text_container {
    bottom: 5%;
    left: 0%;
    transform: translate(0px, 0px);
    padding: 1rem;
  }
  .player,.background_cover {
    transform-origin: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .youare_container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
